[package]
name = "stellar-xdr"
description = "Stellar XDR types, encoding, and decoding."
homepage = "https://github.com/stellar/rs-stellar-xdr"
repository = "https://github.com/stellar/rs-stellar-xdr"
authors = ["Stellar Development Foundation <info@stellar.org>"]
license = "Apache-2.0"
version = "0.0.6"
edition = "2021"
rust-version = "1.64"

[dependencies]
base64 = { version = "0.13.0", optional = true }
serde = { version = "1.0.139", features = ["derive"], optional = true }
serde_with = { version = "2.0.1", optional = true }
hex = { version = "0.4.3", optional = true }
num-bigint = { version = "0.4.3", optional = true }
arbitrary = {version = "1.1.3", features = ["derive"], optional = true}

[features]
default = ["std"]
std = ["alloc"]
alloc = ["dep:hex"]
next = []

# Features dependent on optional dependencies.
base64 = ["std", "dep:base64"]
serde = ["alloc", "dep:serde", "dep:serde_with", "hex/serde"]
num-bigint = ["alloc", "dep:num-bigint"]
arbitrary = ["std", "dep:arbitrary"]
hex = []

[package.metadata.docs.rs]
all-features = true
