[package]
name = "stellar-xdr"
version = "0.0.0"
edition = "2021"

[dependencies]
base64 = "0.13.0"
serde = { version = "1.0.139", features = ["derive"], optional = true }
num-bigint = { version = "0.4.3", optional = true }

[features]
default = ["std"]
std = ["alloc", "base64/std", "num-bigint?/std"]
alloc = []
next = []
serde = ["alloc", "dep:serde"]
num-bigint = ["alloc", "dep:num-bigint"]
