[package]
name = "stellar-xdr"
description = "Stellar XDR types, encoding, and decoding."
homepage = "https://github.com/stellar/rs-stellar-xdr"
repository = "https://github.com/stellar/rs-stellar-xdr"
authors = ["Stellar Development Foundation <info@stellar.org>"]
license = "Apache-2.0"
version = "0.0.1"
edition = "2021"

[dependencies]
base64 = { version = "0.13.0", optional = true }
serde = { version = "1.0.139", features = ["derive"], optional = true }
num-bigint = { version = "0.4.3", optional = true }
arbitrary = {version = "1.1.3", features = ["derive"]}

[features]
default = ["std"]
std = ["alloc"]
alloc = []
next = []

# Features dependent on optional dependencies.
base64 = ["std", "dep:base64"]
serde = ["alloc", "dep:serde"]
num-bigint = ["alloc", "dep:num-bigint"]

[package.metadata.docs.rs]
all-features = true
