{%- if let Some(f) = e.feature %}
#[cfg({{ f }})]
{%- endif %}
/// {{ e.name }}{{ e.source_comment }}
// enum
{%- if e.has_default %}
#[cfg_attr(feature = "alloc", derive(Default))]
{%- endif %}
#[derive(Clone, Copy, Debug, Hash, PartialEq, Eq, PartialOrd, Ord)]
#[cfg_attr(feature = "arbitrary", derive(Arbitrary))]
{%- if e.is_custom_str %}
#[cfg_attr(
    all(feature = "serde", feature = "alloc"),
    derive(serde_with::SerializeDisplay, serde_with::DeserializeFromStr)
)]
{%- else %}
#[cfg_attr(
    all(feature = "serde", feature = "alloc"),
    derive(serde::Serialize, serde::Deserialize),
    serde(rename_all = "snake_case")
)]
#[cfg_attr(feature = "schemars", derive(schemars::JsonSchema))]
{%- endif %}
#[repr(i32)]
pub enum {{ e.name }} {
{%- for m in e.members %}
{%- if let Some(f) = m.feature %}
    #[cfg({{ f }})]
{%- endif %}
{%- if m.is_first %}
    #[cfg_attr(feature = "alloc", default)]
{%- endif %}
    {{ m.name }} = {{ m.value }},
{%- endfor %}
}

{%- if let Some(f) = e.feature %}
#[cfg({{ f }})]
{%- endif %}
impl {{ e.name }} {
    pub const VARIANTS: &[{{ e.name }}] = &[
{%- for m in e.members %}
{%- if let Some(f) = m.feature %}
        #[cfg({{ f }})]
{%- endif %}
        {{ e.name }}::{{ m.name }},
{%- endfor %}
    ];
    pub const VARIANTS_STR: &[&str] = &[
{%- for m in e.members %}
{%- if let Some(f) = m.feature %}
        #[cfg({{ f }})]
{%- endif %}
        "{{ m.name }}",
{%- endfor %}
    ];

    #[must_use]
    pub const fn name(&self) -> &'static str {
        match self {
{%- for m in e.members %}
{%- if let Some(f) = m.feature %}
            #[cfg({{ f }})]
{%- endif %}
            Self::{{ m.name }} => "{{ m.name }}",
{%- endfor %}
        }
    }

    #[must_use]
    pub const fn variants() -> &'static [{{ e.name }}] {
        Self::VARIANTS
    }
}

{%- if let Some(f) = e.feature %}
#[cfg({{ f }})]
{%- endif %}
impl Name for {{ e.name }} {
    #[must_use]
    fn name(&self) -> &'static str {
        Self::name(self)
    }
}

{%- if let Some(f) = e.feature %}
#[cfg({{ f }})]
{%- endif %}
impl Variants<{{ e.name }}> for {{ e.name }} {
    fn variants() -> slice::Iter<'static, {{ e.name }}> {
        Self::VARIANTS.iter()
    }
}

{%- if let Some(f) = e.feature %}
#[cfg({{ f }})]
{%- endif %}
impl Enum for {{ e.name }} {}

{%- if let Some(f) = e.feature %}
#[cfg({{ f }})]
{%- endif %}
impl fmt::Display for {{ e.name }} {
    fn fmt(&self, f: &mut fmt::Formatter<'_>) -> fmt::Result {
        f.write_str(self.name())
    }
}

{%- if let Some(f) = e.feature %}
#[cfg({{ f }})]
{%- endif %}
impl TryFrom<i32> for {{ e.name }} {
    type Error = Error;

    fn try_from(i: i32) -> Result<Self, Error> {
        let e = match i {
{%- for m in e.members %}
{%- if let Some(f) = m.feature %}
            #[cfg({{ f }})]
{%- endif %}
            {{ m.value }} => {{ e.name }}::{{ m.name }},
{%- endfor %}
            #[allow(unreachable_patterns)]
            _ => return Err(Error::Invalid),
        };
        Ok(e)
    }
}

{%- if let Some(f) = e.feature %}
#[cfg({{ f }})]
{%- endif %}
impl From<{{ e.name }}> for i32 {
    #[must_use]
    fn from(e: {{ e.name }}) -> Self {
        e as Self
    }
}

{%- if let Some(f) = e.feature %}
#[cfg({{ f }})]
{%- endif %}
impl ReadXdr for {{ e.name }} {
    #[cfg(feature = "std")]
    fn read_xdr<R: Read>(r: &mut Limited<R>) -> Result<Self, Error> {
        r.with_limited_depth(|r| {
            let e = i32::read_xdr(r)?;
            let v: Self = e.try_into()?;
            Ok(v)
        })
    }
}

{%- if let Some(f) = e.feature %}
#[cfg({{ f }})]
{%- endif %}
impl WriteXdr for {{ e.name }} {
    #[cfg(feature = "std")]
    fn write_xdr<W: Write>(&self, w: &mut Limited<W>) -> Result<(), Error> {
        w.with_limited_depth(|w| {
            let i: i32 = (*self).into();
            i.write_xdr(w)
        })
    }
}

