/// {{ s.name }}{{ s.source_comment }}
{%- if s.has_default %}
#[cfg_attr(feature = "alloc", derive(Default))]
{%- endif %}
#[derive(Clone, Debug, Hash, PartialEq, Eq, PartialOrd, Ord)]
#[cfg_eval::cfg_eval]
#[cfg_attr(feature = "arbitrary", derive(Arbitrary))]
{%- if s.is_custom_str %}
#[cfg_attr(
    all(feature = "serde", feature = "alloc"),
    derive(serde_with::SerializeDisplay)
)]
{%- else %}
#[cfg_attr(
    all(feature = "serde", feature = "alloc"),
    serde_with::serde_as,
    derive(serde::Serialize, serde::Deserialize),
    serde(rename_all = "snake_case")
)]
#[cfg_attr(feature = "schemars", derive(schemars::JsonSchema))]
{%- endif %}
pub struct {{ s.name }} {
{%- for m in s.members %}
{%- if let Some(serde_as) = m.serde_as_type %}
    #[cfg_attr(
        all(feature = "serde", feature = "alloc"),
        serde_as(as = "{{ serde_as }}")
    )]
{%- endif %}
    pub {{ m.name }}: {{ m.type_ref }},
{%- endfor %}
}

impl ReadXdr for {{ s.name }} {
    #[cfg(feature = "std")]
    fn read_xdr<R: Read>(r: &mut Limited<R>) -> Result<Self, Error> {
        r.with_limited_depth(|r| {
            Ok(Self {
{%- for m in s.members %}
                {{ m.name }}: {{ m.read_call }}::read_xdr(r)?,
{%- endfor %}
            })
        })
    }
}

impl WriteXdr for {{ s.name }} {
    #[cfg(feature = "std")]
    fn write_xdr<W: Write>(&self, w: &mut Limited<W>) -> Result<(), Error> {
        w.with_limited_depth(|w| {
{%- for m in s.members %}
            self.{{ m.name }}.write_xdr(w)?;
{%- endfor %}
            Ok(())
        })
    }
}
{%- if s.is_custom_str %}
#[cfg(all(feature = "serde", feature = "alloc"))]
impl<'de> serde::Deserialize<'de> for {{ s.name }} {
    fn deserialize<D>(deserializer: D) -> core::result::Result<Self, D::Error> where D: serde::Deserializer<'de> {
        use serde::Deserialize;
        #[derive(Deserialize)]
        struct {{ s.name }} {
{%- for m in s.members %}
            {{ m.name }}: {{ m.type_ref }},
{%- endfor %}
        }
        #[derive(Deserialize)]
        #[serde(untagged)]
        enum {{ s.name }}OrString<'a> {
            Str(&'a str),
            String(String),
            {{ s.name }}({{ s.name }}),
        }
        match {{ s.name }}OrString::deserialize(deserializer)? {
            {{ s.name }}OrString::Str(s) => s.parse().map_err(serde::de::Error::custom),
            {{ s.name }}OrString::String(s) => s.parse().map_err(serde::de::Error::custom),
            {{ s.name }}OrString::{{ s.name }}({{ s.name }} {
                {{ s.member_names }},
            }) => Ok(self::{{ s.name }} {
                {{ s.member_names }},
            }),
        }
    }
}
{%- endif %}

