#[allow(unused_imports)]
use super::*;
{%- for definition in definitions %}
{%- match definition %}
{%- when DefinitionOutput::Struct(s) %}
{% include "struct.rs.jinja" %}
{%- when DefinitionOutput::Enum(e) %}
{% include "enum.rs.jinja" %}
{%- when DefinitionOutput::Union(u) %}
{% include "union.rs.jinja" %}
{%- when DefinitionOutput::TypedefAlias(t) %}
{% include "typedef_alias.rs.jinja" %}
{%- when DefinitionOutput::TypedefNewtype(t) %}
{% include "typedef_newtype.rs.jinja" %}
{%- when DefinitionOutput::Const(c) %}
{% include "const.rs.jinja" %}
{%- endmatch %}
{%- endfor %}
