/// {{ u.name }}{{ u.source_comment }}
// union with discriminant {{ u.discriminant_type }}
{%- if let Some(cfg) = u.cfg %}
#[cfg({{ cfg }})]
{%- endif %}
#[cfg_eval::cfg_eval]
#[derive(Clone, Debug, Hash, PartialEq, Eq, PartialOrd, Ord)]
#[cfg_attr(feature = "arbitrary", derive(Arbitrary))]
{%- if u.is_custom_str %}
#[cfg_attr(
    all(feature = "serde", feature = "alloc"),
    derive(serde_with::SerializeDisplay, serde_with::DeserializeFromStr)
)]
{%- else %}
#[cfg_attr(
    all(feature = "serde", feature = "alloc"),
    serde_with::serde_as,
    derive(serde::Serialize, serde::Deserialize),
    serde(rename_all = "snake_case")
)]
#[cfg_attr(feature = "schemars", derive(schemars::JsonSchema))]
{%- endif %}
#[allow(clippy::large_enum_variant)]
pub enum {{ u.name }} {
{%- for arm in u.arms %}
{%- if let Some(cfg) = arm.cfg %}
    #[cfg({{ cfg }})]
{%- endif %}
{%- if arm.is_void %}
    {{ arm.case_name }},
{%- else %}
    {{ arm.case_name }}(
{%- if let Some(serde_as) = arm.serde_as_type %}
        #[cfg_attr(
            all(feature = "serde", feature = "alloc"),
            serde_as(as = "{{ serde_as }}")
        )]
{%- endif %}
        {{ arm.type_ref.as_ref().unwrap() }},
    ),
{%- endif %}
{%- endfor %}
}
{%- if u.has_default %}

{% if let Some(cfg) = u.cfg -%}
#[cfg({{ cfg }})]
{% endif -%}
#[cfg(feature = "alloc")]
impl Default for {{ u.name }} {
    fn default() -> Self {
{%- if u.arms[0].is_void %}
        Self::{{ u.arms[0].case_name }}
{%- else %}
        Self::{{ u.arms[0].case_name }}({{ u.arms[0].turbofish_type.as_ref().unwrap() }}::default())
{%- endif %}
    }
}
{%- endif %}

{% if let Some(cfg) = u.cfg -%}
#[cfg({{ cfg }})]
{% endif -%}
impl {{ u.name }} {
    const _VARIANTS: &[{{ u.discriminant_type }}] = &[
{%- for arm in u.arms %}
{%- if let Some(cfg) = arm.cfg %}
        #[cfg({{ cfg }})]
{%- endif %}
        {{ arm.case_value }},
{%- endfor %}
    ];
    pub const VARIANTS: [{{ u.discriminant_type }}; Self::_VARIANTS.len()] = {
        let mut arr = [Self::_VARIANTS[0]; Self::_VARIANTS.len()];
        let mut i = 1;
        while i < Self::_VARIANTS.len() {
            arr[i] = Self::_VARIANTS[i];
            i += 1;
        }
        arr
    };
    const _VARIANTS_STR: &[&str] = &[
{%- for arm in u.arms %}
{%- if let Some(cfg) = arm.cfg %}
        #[cfg({{ cfg }})]
{%- endif %}
        "{{ arm.case_name }}",
{%- endfor %}
    ];
    pub const VARIANTS_STR: [&'static str; Self::_VARIANTS_STR.len()] = {
        let mut arr = [""; Self::_VARIANTS_STR.len()];
        let mut i = 0;
        while i < Self::_VARIANTS_STR.len() {
            arr[i] = Self::_VARIANTS_STR[i];
            i += 1;
        }
        arr
    };

    #[must_use]
    pub const fn name(&self) -> &'static str {
        match self {
{%- for arm in u.arms %}
{%- if let Some(cfg) = arm.cfg %}
            #[cfg({{ cfg }})]
{%- endif %}
{%- if arm.is_void %}
            Self::{{ arm.case_name }} => "{{ arm.case_name }}",
{%- else %}
            Self::{{ arm.case_name }}(_) => "{{ arm.case_name }}",
{%- endif %}
{%- endfor %}
        }
    }

    #[must_use]
    pub const fn discriminant(&self) -> {{ u.discriminant_type }} {
        #[allow(clippy::match_same_arms)]
        match self {
{%- for arm in u.arms %}
{%- if let Some(cfg) = arm.cfg %}
            #[cfg({{ cfg }})]
{%- endif %}
{%- if arm.is_void %}
            Self::{{ arm.case_name }} => {{ arm.case_value }},
{%- else %}
            Self::{{ arm.case_name }}(_) => {{ arm.case_value }},
{%- endif %}
{%- endfor %}
        }
    }

    #[must_use]
    pub const fn variants() -> [{{ u.discriminant_type }}; Self::_VARIANTS.len()] {
        Self::VARIANTS
    }
}

{% if let Some(cfg) = u.cfg -%}
#[cfg({{ cfg }})]
{% endif -%}
impl Name for {{ u.name }} {
    #[must_use]
    fn name(&self) -> &'static str {
        Self::name(self)
    }
}

{% if let Some(cfg) = u.cfg -%}
#[cfg({{ cfg }})]
{% endif -%}
impl Discriminant<{{ u.discriminant_type }}> for {{ u.name }} {
    #[must_use]
    fn discriminant(&self) -> {{ u.discriminant_type }} {
        Self::discriminant(self)
    }
}

{% if let Some(cfg) = u.cfg -%}
#[cfg({{ cfg }})]
{% endif -%}
impl Variants<{{ u.discriminant_type }}> for {{ u.name }} {
    fn variants() -> slice::Iter<'static, {{ u.discriminant_type }}> {
        Self::VARIANTS.iter()
    }
}

{% if let Some(cfg) = u.cfg -%}
#[cfg({{ cfg }})]
{% endif -%}
impl Union<{{ u.discriminant_type }}> for {{ u.name }} {}

{% if let Some(cfg) = u.cfg -%}
#[cfg({{ cfg }})]
{% endif -%}
impl ReadXdr for {{ u.name }} {
    #[cfg(feature = "std")]
    fn read_xdr<R: Read>(r: &mut Limited<R>) -> Result<Self, Error> {
        r.with_limited_depth(|r| {
            let dv: {{ u.discriminant_type }} = <{{ u.discriminant_type }} as ReadXdr>::read_xdr(r)?;
            #[allow(clippy::match_same_arms, clippy::match_wildcard_for_single_variants)]
            let v = match dv {
{%- for arm in u.arms %}
{%- if let Some(cfg) = arm.cfg %}
                #[cfg({{ cfg }})]
{%- endif %}
{%- if arm.is_void %}
                {{ arm.case_value }} => Self::{{ arm.case_name }},
{%- else %}
                {{ arm.case_value }} => Self::{{ arm.case_name }}({{ arm.turbofish_type.as_ref().unwrap() }}::read_xdr(r)?),
{%- endif %}
{%- endfor %}
                #[allow(unreachable_patterns)]
                _ => return Err(Error::Invalid),
            };
            Ok(v)
        })
    }
}

{% if let Some(cfg) = u.cfg -%}
#[cfg({{ cfg }})]
{% endif -%}
impl WriteXdr for {{ u.name }} {
    #[cfg(feature = "std")]
    fn write_xdr<W: Write>(&self, w: &mut Limited<W>) -> Result<(), Error> {
        w.with_limited_depth(|w| {
            self.discriminant().write_xdr(w)?;
            #[allow(clippy::match_same_arms)]
            match self {
{%- for arm in u.arms %}
{%- if let Some(cfg) = arm.cfg %}
                #[cfg({{ cfg }})]
{%- endif %}
{%- if arm.is_void %}
                Self::{{ arm.case_name }} => ().write_xdr(w)?,
{%- else %}
                Self::{{ arm.case_name }}(v) => v.write_xdr(w)?,
{%- endif %}
{%- endfor %}
            };
            Ok(())
        })
    }
}

