name: Rust

on:
  push:
    branches: [main]
  pull_request:

env:
  RUSTFLAGS: -D warnings

jobs:

  complete:
    if: always()
    needs: [fmt, cargo]
    runs-on: ubuntu-latest
    steps:
    - if: contains(needs.*.result, 'failure')
      run: exit 1

  fmt:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - run: rustup update stable && rustup default stable
    - run: find . -type f -name '*.rs' -print0 | xargs -I {} -0 rustfmt --check "{}"

  cargo:
    strategy:
      matrix:
        cmd: [check, test]
        sys:
        - os: ubuntu-latest
          target: x86_64-unknown-linux-gnu
        - os: macos-latest
          target: x86_64-apple-darwin
        - os: macos-latest
          target: aarch64-apple-darwin
        - os: windows-latest
          target: x86_64-pc-windows-msvc
        target: ['', wasm32-unknown-unknown]
        profile: [dev, release]
        features: ['', 'alloc', 'std']
        exclude:
        - cmd: test
          target: wasm32-unknown-unknown
    runs-on: ${{ matrix.sys.os }}
    steps:
    - uses: actions/checkout@v3
    - run: rustup update stable && rustup default stable
    - run: rustup target add ${{ matrix.target || matrix.sys.target }}
    - run: >
        cargo ${{ matrix.cmd }}
        --profile ${{ matrix.profile }}
        --target ${{ matrix.target || matrix.sys.target }}
        --no-default-features
        --features='${{ matrix.features }}'
